<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>_README</string>
		<string>Ball</string>
		<string>Board</string>
		<string>Brick</string>
		<string>Control</string>
		<string>Debug</string>
		<string>Pad</string>
		<string>Play</string>
		<string>Poing</string>
		<string>Score</string>
		<string>Truntable</string>
		<string>Wall</string>
	</array>
	<key>Created</key>
	<string>2013-08-18 10:14:50 +0000</string>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
